@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}


:root {
    --dark-green: #112a34;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    height: 100vh;
}

.home .home-box {
    height: 70%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("/test/images/tour1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius: .5rem;
}

.home .home-box nav {
    width: 100%;
    height: 65px;
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--green-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}


.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:last-child {
    background: var(--green-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login a:last-child:hover {
    color: var(--white-color);
    background: #02636e;
}

.home .home-box .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -65px);
}

.home .home-box .content h5 {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home .home-box .content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home .home-box .content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home .home-box .content .search {
    width: 100%;
    max-width: 38rem;
    height: 45px;
    background: var(--white-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.home .home-box .content .search i {
    color: rgba(0,0,0,.5);
    margin: 0 .6rem;
}

.home .home-box .content .search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.home .home-box .content .search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: var(--green-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}

.home .home-box .content .search button:hover {
    background: #02636e;
}

.home .home-box .content h5, .home .home-box .content h1, .home .home-box .content p, .home .home-box .content .search {
    transform: translate(0, 100px);

}
.carousel-image {
    object-fit: cover;
    width: 100%; /* Ensure images are always full width */
    height: 500px; 
  }
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  
  .carousel-control-prev, .carousel-control-next {
    display: none; /* Hides the default navigation arrows */
  }
  
  .carousel-indicators li {
    background-color: #fff; /* Change the color as needed */
    width: 10px; /* Circle size */
    height: 10px; /* Circle size */
    border-radius: 50%; /* Makes it round */
  }
  
  .carousel-indicators .active {
    background-color: #000; /* Active indicator color, change as needed */
  }  

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    background-color: rgb(192, 176, 176);
}


.homepage {
    position: relative;
}

.gallery {
    max-width: 100%;
    /* Set the maximum width to prevent overflow */
    overflow: hidden;
    /* Hide any content that overflows the container */
}

.travel-tips-section {
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhsGVy1Od_kKcGmuX0b_IANAdIl1Oqw4jIOXFigN0dRbry9QVib0skrL5jQgDyYEPSBOa2esWtTQyTmAQKnhyQUgxa2mGpYnsQrIGqoGXzQFHfgNq8ynOzpB2IgKQtmAQXouFzYKoDOEy4/s1600/hikong+kmebel.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    position: relative;
    /* Add this line */
}

.travel-tips-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the opacity value here */
}

.travel-tips-section h3,
.travel-tips-section p {
    color: #fff;
    filter: brightness(150%);
    /* Set text color to white */
}

.traveltips.fadeIn {
    opacity: 1;
    /* Set opacity to 1 for fade-in effect */
}

.traveltips.fadeOut {
    opacity: 0;
    /* Set opacity to 0 for fade-out effect */
}

#fixedHr,
#fixedHr2,
#fixedHr3,
#fixedHr4,
#fixedHr5,
#fixedHr6,
#fixedHr7,
#fixedHr8,
#fixedHr9 {
    width: 100%;
    max-width: 1500px;
    height: 1px;
    background-color: rgb(227, 236, 244);
    border: none;
    margin: 0 auto;
}

#fixedHr2 {
    margin: 50px auto;
}

#fixedHr3 {
    margin: 90px auto;
}

#fixedHr4 {
    margin: 90px auto;
}

#fixedHr5,
#fixedHr6,
#fixedHr7 {
    max-width: 350px;
    margin: 10px auto;
}

#fixedHr8 {
    margin: 100px auto;
}

#fixedHr9{
    margin: 100px auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease forwards;
}

.review {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
    /* Add border style */
    border: 2px solid white;
    /* Adjust border color, style, and width as needed */
}

.review.active {
    opacity: 1;
}

.slideInLeft {
    animation: slideInLeftAnimation 0.5s ease;
}

@keyframes slideInLeftAnimation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideOutLeft {
    animation: slideOutLeftAnimation 0.5s ease;
}

@keyframes slideOutLeftAnimation {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.customer-reviews h1.review-text,
.customer-reviews p,
.review .card-title,
.review .card-text {
    color: white;
}

.customerreview .card {
    border: 2px solid white;
    border-radius: 10px;
}

.customerreview .card-body {
    background-color: transparent;
    /* Add this line to make the card body transparent */
}

.icons {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 40%;
    /* Adjust top padding as needed */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5f5f63;
    margin-right: 10px;
    /* Add margin to separate icon from text */
    font-size: 24px;
    color: #fff;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #e6ebef;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* Add margin between icon-wrapper elements */
}

.icon-wrapper span {
    margin-left: 10px;
    white-space: nowrap;
    /* Adjust the spacing between the icon and text */
}

.logo-container {
    position: relative;
    display: inline-block;
}

.logo-container img {
    width: 30px;
    /* Adjust the width as needed */
    height: 30px;
    /* Maintain aspect ratio */
}

.logo-container:hover .menu {
    display: block;
    transform: translateY(0);
    /* Slide down when hovering over the logo */
}

.menu-toggle-icon:checked~.logo-container .menu-toggle-icon {
    display: block;
}

.menu-toggle-icon {
    display: none;
}

.menu-toggle-icon:checked~.menu {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #f9f9f9;
    padding: 20px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #ddd;
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0 0px;

    /* Adjust the horizontal spacing as needed */

}